html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #212121;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #0F79D0;
  text-shadow: none;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

/* header */
.header_wrap {
  background: linear-gradient(to top, #373737, #212121);
}

.header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

.vk-banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px 15px;
  color: #fff;
  background: #0090ff no-repeat;
  font-weight: 700;
}

.title-name {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
}

.title-description {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  padding-bottom: 10px;
  margin-top: 10px;
}

/* content */
.content-wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

.content {
  padding-top: 40px;
}

/* footer */
.footer_wrap {
  background: #212121;
}

footer p {
  color: #f2f2f2;
}

.copyright {
  margin: 10px 0 15px 0;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}